.scroll-pane > .viewport, .scroll-pane {
    -fx-background-color: transparent;
}

.right {
    -fx-background-color: #f2f5f8;
    -fx-text-fill: white;
    -fx-background-image: url('/itech_bg.png');
    -fx-background-repeat: repeat;
    -fx-background-size: 250;
    -fx-background-position: left bottom;
}

.chatContent{
    -fx-background-color: transparent;
    -fx-padding: 10;
}
.chatInput{
    -fx-padding: 10;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-font-size: 4px;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 3em;
}


.text-white{
    -fx-text-fill: white;
}
.text-black{
    -fx-text-fill: #434651;
}

.message-content{
    -fx-padding: 10;
}

.message-time{
    -fx-text-fill: #a8aab1;
}


.message-content, .triangle, .circle{
    -fx-background-color: #86BB71;
    -fx-fill: #86BB71;
    -fx-border-radius: 10em;
    -fx-background-radius: 5;
}

.chat-bubble.me .message-content, .chat-bubble.me .triangle, .chat-bubble.me .circle{
    -fx-background-color: #94C2ED;
    -fx-fill: #94C2ED;
}